 
  .event-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  .event-item h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .event-item p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .event-item:last-child {
    margin-bottom: 0;
  }